<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @park.banner_url %>);">
  <div class="container">
    <h1><%= @park.name %></h1>
    <p>Change your life and play with dinosaurs.</p>
    <%= link_to 'Add Dinosaur', new_park_dinosaur_path(@park), class: 'btn btn-primary' %>
  </div>
</div>
<div class="container">
  <div class="cards my-3">
    <% @park.dinosaurs.each do |dinosaur| %>
      <%= render 'dinosaurs/card', dinosaur: dinosaur %>
    <% end %>
  </div>
</div>